<odoo>
    <data>
      <menuitem name="Gestion Laboratorio Dental" id="laboratorio_dental.menu_root" />
      
      <menuitem name="Empleados" id="laboratorio_dental.menu_trabajadores" parent="laboratorio_dental.menu_root" action="laboratorio_dental.action_window_trabajadores"/> 
      
      <menuitem name="Clientes" id="laboratorio_dental.menu_clientes" parent="laboratorio_dental.menu_root" action="laboratorio_dental.action_window_clientes"/> 


      <menuitem name="Ventas" id="laboratorio_dental.menu_ventas" parent="laboratorio_dental.menu_root" />
      <menuitem name="Listado Precios" id="laboratorio_dental.menu_precios" parent="laboratorio_dental.menu_ventas" action="laboratorio_dental.action_window_precios"/> 
      <menuitem name="Pedidos" id="laboratorio_dental.menu_pedidos" parent="laboratorio_dental.menu_ventas" action="laboratorio_dental.action_window_pedidos"/> 

      <menuitem name="Compras" id="laboratorio_dental.menu_compras" parent="laboratorio_dental.menu_root" />
      <menuitem name="Listado de Productos" id="laboratorio_dental.menu_productos" parent="laboratorio_dental.menu_compras" action="laboratorio_dental.action_window_productos"/> 
      <menuitem name="Facturas" id="laboratorio_dental.menu_facturas" parent="laboratorio_dental.menu_compras" action="laboratorio_dental.action_window_facturas"/> 
    </data>
  </odoo>